@font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Bold.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Book.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: normal;
    font-style: normal;
  }



.thing {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2.5em;
    font-size: 1.5em;
    font-family: 'Circular';
}

.things {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2.5em;
    font-size: 1.5em;
    font-family: 'Circular';
    text-decoration: none;
    color: black;
}

.things:hover {
    color: #FFCE43;
}

.thing-image {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2.5em;
    width: 25em;
    height: auto;
}