@font-face {
    font-family: 'PP Mori';
    src: url('../../Assets/Fonts/PPMori-SemiBold.otf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PP Mori';
    src: url('../../Assets/Fonts/PPMori-Regular.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  .entire-projects {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    row-gap: 5%;
  }