.section-container {
    width: 75%;
    margin: 0 auto;
}

.heading {
    text-align: left;
    font-size: 2.5em;
    border: 0;
    color: #D9D9D9;
    font-weight: 700;

}

.job-block {
    /* add padding */
    padding: 0;
}

.first-line {
    display: flex;
    flex-direction: row;
}

.employer {
    font-weight: 700;
}

.position {
    color: #F1AE02;
    font-weight: 700;
}

.position-details {
    flex-grow: 3;
}

.date-range {
    flex-grow: 1;
    text-align: right;
}