@font-face {
    font-family: 'PP Mori';
    src: url('../../Assets/Fonts/PPMori-SemiBold.otf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PP Mori';
    src: url('../../Assets/Fonts/PPMori-Regular.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

.entire-card {
    display: flex;
    flex-direction: column;
    font-family: 'PP Mori';
}

.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
  transition: transform .2s;
}

.card-image:hover {
  transform: scale(0.98);
}

.project-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0.4em;
}

.arrow-container {
  display: flex;
  text-align: left;
}

.card-arrow {
  justify-self: flex-start;
  width: 1.4em;
  height: auto;
}