@font-face {
  font-family: 'Inter';
  src: url('../../Assets/Fonts/Inter-Bold.ttf') format('truetype'); /* Adjust the path and font file name accordingly */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../Assets/Fonts/Inter-Regular.ttf') format('truetype'); /* Adjust the path and font file name accordingly */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../Assets/Fonts/OpenSans-Bold.ttf') format('truetype'); /* Adjust the path and font file name accordingly */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../Assets/Fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust the path and font file name accordingly */
  font-weight: normal;
  font-style: normal;
}

a.card-link {
    text-decoration: none;
  }

.projects-area {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.project-image-container {
  flex-basis: 60%;
}

.project-screen {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.home-project-text {
  flex-basis: 40%;
  padding-left: 5em;
}

.titular{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.proj-name {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 0.1em;
  font-family: 'Open Sans';
  transition: color 0.4s ease;
}

.proj-name:hover {
  color: #A8D5FF;
}

.proj-description {
  font-family: 'Inter';
  color: #929292 !important;
  font-size: 1.25rem;
}

.proj-details {
  font-family: 'Inter';
  color: rgba(255, 255, 255, 0.79);
  padding-top: 0.8em;
  font-size: 1.125rem;
}

.grey-line-proj {
  width: 85%;
  margin: 0 auto;
  border-top: 0.5px solid #7A7A7A;
  margin-top: 8em;
  height: 10em;
}

.grey-line-proj-last {
  width: 85%;
  margin: 0 auto;
  border-top: 0.5px solid #7A7A7A;
  margin-top: 8em;
  height: 4em;
}