.section-container {
    width: 75%;
    margin: 0 auto;
}

.heading-and-bee {
    display: flex;
    flex-direction: row;
}

.heading {
    text-align: left;
    font-size: 3em;
    border: 0;
}

.dashed-line {
    height: 3px;
}

.description {
    text-align: left;
}

.yellow-text {
    color: #F1AE02;
}

.bullet-content {
    text-align: left;
}