.entire-container-header {
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

.logo {
    justify-self: left;
}

.alan-logo {
    width: 4em;
    height: auto;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 45%;
}

@media (max-width: 900px) {
    .pages {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .pages {
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.75em;
    }
}

.page {
    text-decoration: none;
    color: #929292;
    font-size: 0.93rem;
}

.page:hover {
    color: #FFCE43;
}