@font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Bold.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Book.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: normal;
    font-style: normal;
  }

.entire-container-header {
    font-family: 'Circular';
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

.logo {
    justify-self: left;
}

.alan-logo {
    width: 4em;
    height: auto;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 35%;
}

.page {
    text-decoration: none;
    color: black;
}

.page:hover {
    color: #FFCE43;
}