@font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Bold.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Book.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: normal;
    font-style: normal;
  }

.Footer {
    width: 80%;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hive {
    height: 13em;
}

.design-signature {
    padding-left: 2em;
}

.design-line {
    font-size: 1em;
    font-family: 'Circular';
    padding-bottom: 1em;
    padding-top: 2em;
}

.signature {
    width: 17em;
}

.footer-space {
    height: 4em;
}

.footer-smaller-space {
    height: 3em;
}

.grey-line-footer {
    border-top: 1px solid #CECECE;
    height: 4em;
  }

.left-footer {
    display: flex;
    flex-direction: row;
}

.footer-links {
    font-family: 'Circular';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 6rem;
}

.footer-page {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.footer-page:hover {
    color: #FFCE43;
}

@media (max-width: 400px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-links {
        align-items: flex-start;
        justify-self: baseline;
    }
}