@font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Bold.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circular';
    src: url('../../Assets/Fonts/CircularStd-Book.otf') format('truetype'); /* Adjust the path and font file name accordingly */
    font-weight: normal;
    font-style: normal;
  }

.Footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}

.signature {
    width: 12em;
}

.design-line {
    color: white;
    padding-bottom: 1em;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-page {
    text-decoration: none;
    color: #929292;
}

.footer-page:hover {
    color: #FFCE43;
}