.name {
    width: 100%;
    padding-bottom: 1.5em;
}

.entire-container-main {
    width: 75%;
    margin: 0 auto;
    margin-top: 6em;
}

.alan-positions {
    color: #FFFFFF;
    font-size: 1.1rem;
    line-height: 170%;
}

.position-tags {
    text-decoration: none;
    color: #929292;
}
